
- if user_signed_in?
  -# TODO
  -# %h1 Welcome back #{current_user.username}
  -# .employee-list
  -#   %ul
  -#     %li
  -#       = link_to 'Add New Employee', new_employee_path
  -#     %li
  -#       = link_to 'Employee List', employees_path

  .container.body
    .main_container
      .col-md-3.left_col
        .left_col.scroll-view
          = render "shared/sidebar/top"
          / menu profile quick info
          = render "shared/sidebar/profile"
          / sidebar menu
          = render "shared/sidebar/menu"
          / /sidebar menu
          / /menu footer buttons
          = render "shared/sidebar/footer"
          / /menu footer buttons
      = render "shared/top-navigation/main"
      = render "shared/body-panel/main"
- else
  %h1 Welcome to Rails
