-# TODOs - refining UI fields and data types
= form_with model: @timesheet, url: @timesheet_url_path, local: true, class: "form-horizontal form-label-left" do |form|
  .form-group
    = form.label(:title, "Title", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12
      = form.text_field(:title, id: "title", class: "form-control col-md-7 col-xs-12")
  .form-group
    = form.label(:descripton, "Description", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12
      = form.text_field(:description, id: "description", class: "form-control col-md-7 col-xs-12")
  .form-group
    = form.label(:entry_date, "Entry Date", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12
      = form.text_field(:entry_date, id: "entry_date", class: "form-control col-md-7 col-xs-12")
  .form-group
    = form.label(:total_hours, "Total Hours", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12
      = form.text_field(:total_hours, id: "total_hours", class: "form-control col-md-7 col-xs-12")
  .form-group
    = form.label(:status, "Status", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12
      = form.text_field(:status, id: "status", class: "form-control col-md-7 col-xs-12")
  .ln_solid
  .form-group
    .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
      = link_to("Cancel", timesheet_index_path, class: "btn btn-primary")
      = form.submit("Save", class: "btn btn-success")