
-#TODO - DRY the view pages
%div
  .page-title
    .title_left
      %h3 Timesheet
    .title_right
      .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
        .input-group
          %input.form-control{:placeholder => "Search for...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"} Go!
  .clearfix
    .row
      .col-md-12
        .x_panel
          .x_title
            %h2 Timesheets
            %ul.nav.navbar-right.panel_toolbox
              %li
                %a.collapse-link
                  %i.fa.fa-chevron-up
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  %i.fa.fa-wrench
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Settings 1
                  %li
                    %a{:href => "#"} Settings 2
              %li
                %a.close-link
                  %i.fa.fa-close
            .clearfix
          .x_content
            / start project list
            %table.table.table-striped.projects
              %thead
                %tr
                  %th #
                  %th Title
                  %th Description
                  %th Entry Date
                  %th Total Hours
                  %th Status
                  %th #Edit
              %tbody
              - @timesheets.each do |timesheet|
                %tr
                  %td #
                  %td= timesheet.title
                  %td= timesheet.description
                  %td= timesheet.entry_date
                  %td= timesheet.total_hours
                  %td= timesheet.status
                  %td
                    = link_to(timesheet_path(timesheet), :class => "btn btn-primary btn-xs") do 
                      %i.fa.fa-folder
                      View
                    = link_to(edit_timesheet_path(timesheet), :class=> "btn btn-info btn-xs") do 
                      %i.fa.fa-pencil
                      Edit
                    = link_to(timesheet_path(timesheet), :class=> "btn btn-danger btn-xs", method: :delete, data: {confirm: 'Are you sure you want to delete this timesheet?'}) do 
                      %i.fa.fa-trash-o
                      Delete      
            / end project list
            / button
            = link_to(new_timesheet_path, :class => "btn btn-success") do
              Log new timesheet
            / end button
  