#sidebar-menu.main_menu_side.hidden-print.main_menu
  .menu_section
    %h3 General
    %ul.nav.side-menu
      - if can? :manage, :all
        -# TODOS - For admins only
        %li
          = link_to(profile_index_path) do
            %i.fa.fa-comment
            Company Profile
        %li
          = link_to(profile_index_path) do
            %i.fa.fa-users
            All Employees
        %li
          = link_to(profile_index_path) do
            %i.fa.fa-calendar-o
            Staff Leave Days and Rollover
        %li
          = link_to(profile_index_path) do
            %i.fa.fa-calendar-check-o
            Staff Leave Approval
        %li
          = link_to(profile_index_path) do
            %i.fa.fa-cog
            Public Holidays Settings
        %li
          = link_to(profile_index_path) do
            %i.fa.fa-cog
            Staff Rate Settings
        %li
          = link_to(profile_index_path) do
            %i.fa.fa-cog
            Financial Year Settings
        %li
          = link_to(profile_index_path) do
            %i.fa.fa-question-circle-o
            Accounting Codes
        %li
          = link_to(profile_index_path) do
            %i.fa.fa-lock
            Master Profile
      %li
        = link_to(profile_index_path) do
          %i.fa.fa-address-card
          Profile
      %li
        = link_to(email_index_path) do
          %i.fa.fa-envelope
          Email
      - if can? :manage, Timesheet  
        %li
          -# TODO for supervisors only
          = link_to(timesheet_index_path) do
            %i.fa.fa-calendar-o
            All Staff Timesheet    
      %li
        = link_to(timesheet_index_path) do
          %i.fa.fa-calendar
          My Timesheet
      - if can? :manage, Timesheet  
        %li
          -# TODO for supervisors only
          = link_to(reporting_index_path) do
            %i.fa.fa-bar-chart            
            Staff Productivity Chart
      %li
        = link_to(reporting_index_path) do
          %i.fa.fa-line-chart            
          My Reporting Chart