.login_wrapper
  .animate.form.login_form
    %section.login_content
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %h1 Login Form
        - flash.each do |name, msg|
          = content_tag :div, msg, id: "flash_#{name}"
        %div
          = f.text_field :username, class: "form-control", placeholder: "Username"
        %div
          = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
        %div
          = f.submit "Login", class: "btn btn-default submit"
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to "Forgot your password?", new_password_path(resource_name), class: "reset_pass"
        .clearfix
        .separator
          %p.change_link
            New to site?
            - if devise_mapping.registerable? && controller_name != 'registrations'
              = link_to "Sign up", new_registration_path(resource_name), class: "to_register"
          .clearfix
          %br/
          %div
            %p ©2017 All Rights Reserved. Privacy and Terms
  #register.animate.form.registration_form
    %section.login_content
      %form
        %h1 Create Account
        %div
          %input.form-control{:placeholder => "Username", :required => "", :type => "text"}/
        %div
          %input.form-control{:placeholder => "Email", :required => "", :type => "email"}/
        %div
          %input.form-control{:placeholder => "Password", :required => "", :type => "password"}/
        %div
          %a.btn.btn-default.submit{:href => "index.html"} Submit
        .clearfix
        .separator
          %p.change_link
            Already a member ?
            %a.to_register{:href => "#signin"} Log in
          .clearfix
          %br/
          %div
            %p ©2017 All Rights Reserved. Privacy and Terms