//TODO - user model form to submit
%form.form-horizontal.form-label-left
  .form-group
    .control-label.col-md-3.col-sm-3.col-xs-12
    .col-md-6.col-sm-6.col-xs-12
      %h5 Profile Information
  .form-group
    %label.control-label.col-md-3.col-sm-3.col-xs-12 Username
    .col-md-6.col-sm-6.col-xs-12
      %input.form-control(readonly="readonly" type="text" value="#{current_user.username}")
  .form-group
    %label.control-label.col-md-3.col-sm-3.col-xs-12 Email Address
    .col-md-6.col-sm-6.col-xs-12
      %input.form-control(readonly="readonly" type="text" value="#{current_user.email}")

.ln_solid

= form_with model: @employee, url: @profile_url_path, local: true, id: "demo-form2", class: "form-horizontal form-label-left" do |form|
  .form-group
    .control-label.col-md-3.col-sm-3.col-xs-12
    .col-md-6.col-sm-6.col-xs-12
      %h5 User Information
  .form-group
    = form.label(:title, "Title", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12
      -# TODOs - Need to place these honorific titles in yaml config file
      = form.select(:title, ["Mr", "Master", "Sir", "Madam", "Lady", "Mrs", "Ms", "Miss", "Dr", "Professor"], {}, {class: "form-control col-md-7 col-xs-12"})
  .form-group
    = form.label(:first_name, "First Name", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12
      = form.text_field(:first_name, id: "first_name", class: "form-control col-md-7 col-xs-12")
  .form-group
    = form.label(:last_name, "Last Name", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12
      = form.text_field(:last_name, id: "last_name", class: "form-control col-md-7 col-xs-12")
  -# TODO - place inline styles for now 
  .form-group
    = form.label(:date_of_birth, "DOB", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12{style: "display: flex; justify-content: space-between;"}
      = form.date_select :date_of_birth, {order: [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 10, end_year: Date.today.year - 100}, {id: "date_of_birth", required: true, class: "form-control", style: "width: 30%;"}
  -# TODO - to decide the radio button layout styles 
  .form-group
    = form.label(:gender, "Gender", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12{style: "display: flex; justify-content: flex-start;"}
      .radio(style ="width: 30%;")
        = form.radio_button(:gender, "Male", class: "flat", style: "margin:0;")
        = form.label(:gender, "Male")
      .radio(style ="width: 30%;")
        = form.radio_button(:gender, "Female", class: "flat", style: "margin:0;")
        = form.label(:gender, "Female")
  .form-group
    = form.label(:job_title, "Job Title", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12
      = form.text_field(:job_title, id: "job_title", class: "form-control col-md-7 col-xs-12")
  .form-group
    = form.label(:address, "Address", class: "control-label col-md-3 col-sm-3 col-xs-12")
    .col-md-6.col-sm-6.col-xs-12
      = form.text_field(:address, id: "address", class: "form-control col-md-7 col-xs-12")

  .ln_solid
  .form-group
    .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
      = link_to("Cancel", profile_index_path, class: "btn btn-primary")
      = form.submit("Save", class: "btn btn-success")