-# TODO - DRY THE VIEWS
%div
  .page-title
    .title_left
      %h3 Profile
    .title_right
      .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
        .input-group
          %input.form-control{:placeholder => "Search for...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"} Go!
  .clearfix
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          %h2
            Edit Profile
          .clearfix
        .x_content
          %br/
          = form_with model: @employee, url: profile_path, local: true, id: "demo-form2", class: "form-horizontal form-label-left" do |form|
            .form-group
              = form.label(:title, class: "control-label col-md-3 col-sm-3 col-xs-12")
              .col-md-6.col-sm-6.col-xs-12
                = form.text_field(:title, id: "title", class: "form-control col-md-7 col-xs-12")
            .form-group
              = form.label(:first_name, class: "control-label col-md-3 col-sm-3 col-xs-12")
              .col-md-6.col-sm-6.col-xs-12
                = form.text_field(:first_name, id: "first_name", class: "form-control col-md-7 col-xs-12")
            .form-group
              = form.label(:last_name, class: "control-label col-md-3 col-sm-3 col-xs-12")
              .col-md-6.col-sm-6.col-xs-12
                = form.text_field(:last_name, id: "last_name", class: "form-control col-md-7 col-xs-12")
            .ln_solid
            .form-group
              .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                %button.btn.btn-primary(type="button") Cancel
                %button.btn.btn-primary(type="reset") Reset
                = form.submit("Submit", class: "btn btn-success")