-# TODO - DRY THE VIEWS
%div
  .page-title
    .title_left
      %h3 Profile
    .title_right
      .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
        .input-group
          %input.form-control{:placeholder => "Search for...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"} Go!
  .clearfix
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          %h2
            Profile Details
          .clearfix
        .x_content
          .col-md-3.col-sm-3.col-xs-12.profile_left
            .profile_img
              #crop-avatar
                / Current avatar
                %img.img-responsive.avatar-view{:alt => "Avatar", :src => "images/picture.jpg", :title => "Change the avatar"}/
            %h3
              = current_user.username
            - if !userHasEmployeeProfile(current_user)
              = link_to(new_profile_path, :class => "btn btn-success") do
                %i.fa.fa-edit.m-right-xs>
                New Profile
            - else
              = link_to(edit_profile_path(@employee), :class => "btn btn-success") do
                %i.fa.fa-edit.m-right-xs>
                Edit Profile
            %br/
          .col-md-9.col-sm-9.col-xs-12
            .x_panel
              .x_title
                %h2
                  User Information
                %ul.nav.navbar-right.panel_toolbox
                  %li
                    %a.collapse-link
                      %i.fa.fa-chevron-up
                  %li.dropdown
                    %a.dropdown-toggle(aria-expanded="false" data-toggle="dropdown" href="#" role="button")
                      %i.fa.fa-wrench
                    %ul.dropdown-menu(role="menu")
                      %li
                        %a(href="#") Settings 1
                      %li
                        %a(href="#") Settings 2
                  %li
                    %a.close-link
                      %i.fa.fa-close
                .clearfix
              
              - if !userHasEmployeeProfile(current_user)
                .x_content
                  %br/
                  Your profile is not setup yet.  Please complete your profile setup 
              - else
                .x_content
                  %br/
                  %form.form-horizontal.form-label-left
                    .form-group
                      %label.control-label.col-md-3.col-sm-3.col-xs-12 Title
                      .col-md-9.col-sm-9.col-xs-12
                        %input.form-control(readonly="readonly" type="text" value="#{@employee.title}")
                    .form-group
                      %label.control-label.col-md-3.col-sm-3.col-xs-12 First Name
                      .col-md-9.col-sm-9.col-xs-12
                        %input.form-control(readonly="readonly" type="text" value="#{@employee.first_name}")
                    .form-group
                      %label.control-label.col-md-3.col-sm-3.col-xs-12 Last Name
                      .col-md-9.col-sm-9.col-xs-12
                        %input.form-control(readonly="readonly" type="text" value="#{@employee.last_name}")
            
            